body {
font-family: 'Oswald', sans-serif;
}

main {
    text-align: center;
}

table {
    margin: 20px auto;
    border: 1px solid black;
    border-collapse: collapse;
}

th,
td {
    padding: 10px 20px;
    border: 1px solid black;
}

tr:nth-child(eve) {
    background-color: cadetblue;
}

tbody tr:nth-child(odd) {
    background-color: darkcyan;
    color: aliceblue;
}

thead {
    background-color: white;
}

h1, h2 {
    color: blue;
}
h2 a {
    display: block;
}